.comp__section--report_list
  .comp__section__content
    .row
      .report-isotype-grid
        .grid-sizer
        - each report in site.data.report_list_overview
          .column
            .comp__thumbnail--report(class='#{report.tag} all')
              a.mytooltip(data-url='page--tooltip-sample.html' href="#{report.href}")
                .comp__content
                  p.tag.label #{report.tag}
                  h4.title.title--report #{report.title}
                  p.teaser.teaser--report #{report.teaser}
                  p.meta.date #{report.date}
                if report.imgsrc
                  .comp__media
                    img(src='#{report.imgsrc}')
