.comp__section--magazine_list
  .comp__section__title
    p.meta magazine
    h3 Articles from the January 2017 issue
  .comp__section__content
    .row
      - each magazine in site.data.magazine_list
        .small-12.medium-6.large-4.column
          .comp__thumbnail--magazine(class='')
            a(href="#")
              .comp__content
                p.tag.label #{magazine.tag}
                h4.title.title--magazine #{magazine.title}
                p.teaser.teaser--magazine #{magazine.teaser}
                p.meta.date #{magazine.date}
              .comp__media
                img(src='#{magazine.imgsrc}')
  .comp__section__action
    a.button.large.button--with-icon.button--outline.button--accent
      span.text more in magazine
      span.icon.icon--arrow01
        svg
          use(xlink:href="images/svg-sprite.svg#icon--arrow01")
